* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: #FFFFFF;
    background: url(img/texture.png) repeat;
}

#wrapper {
    width: 850px;
    margin: auto;
}

#header {
    position: relative;
    height: 190px;
}

#container {
    display: flex;
    background-color: #97c4ff;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

#left {
    width: 250px;
    background-color: #75b1ff;
    border: 2px solid #508ddb;
    text-shadow: 2px 2px 2px #000000;
    padding: 10px;
}

#stackedcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#left h1 {
    color: #508ddb;
}

#left p {
    font-size: 13px;
}

#left li {
    font-size: 13px;
}

#leftold {
    width: 250px;
    height: 655px;
    background-color: #75b1ff;
    border: 2px solid #508ddb;
    text-shadow: 2px 2px 2px #000000;
    padding: 10px;
}

#leftold h1 {
    color: #508ddb;
}

#leftold p {
    font-size: 13px;
}

#leftold li {
    font-size: 13px;
}

#center {
    flex: 1;
    background-color: #75b1ff;
    border: 2px solid #508ddb;
    text-shadow: 2px 2px 2px #000000;
    width: 400px;
    padding: 10px;
}

#center h1 {
    color: #508ddb;
}

#center p {
    font-size: 13px;
}

#centerold {
    flex: 1;
    background-color: #75b1ff;
    border: 2px solid #508ddb;
    text-shadow: 2px 2px 2px #000000;
    width: 400px;
    padding: 10px;
    height: 655px;
}

#centerold h1 {
    color: #508ddb;
}

#centerold p {
    font-size: 13px;
}

#blurb {
    height: 600px;
    padding: 20px;
    color: black;
    overflow-y: scroll;
    scrollbar-width: auto;
    background-color: white;
    border: 2px solid #508ddb;
}

#blurb p {
    text-shadow: none;
}

#updates {
    height: 250px;
    padding: 20px;
    color: black;
    overflow-y: scroll;
    scrollbar-width: auto;
    background-color: white;
    border: 2px solid #508ddb;
}

#updates p {
    text-shadow: none;
}

#right {
    width: 250px;
    background-color: #75b1ff;
    border: 2px solid #508ddb;
    text-shadow: 2px 2px 2px #000000;
    padding: 10px;
}

#right h1 {
    color: #508ddb;
}

#footer {
    width: 100%;
    background-color: #75b1ff;
    text-align: center;
    border: 2px solid #508ddb;
    text-shadow: 2px 2px 2px #000000;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

#aboutmeimage {
    width: 264px;
    float: left;
    margin-right: 10px;
    height: auto;
    text-align: center;
    padding-inline: 0;
    border: 2px solid #508ddb;
    background-color: #00000022;
}

#oldsiteimage {
    width: 556px;
    height: auto;
    text-align: center;
    padding-inline: 0;
    border: 2px solid #508ddb;
    background-color: #00000022;
}

#indeximage {
    width: 226px;
    height: auto;
    text-align: center;
    padding-inline: 0;
    border: 2px solid #508ddb;
    background-color: #00000022;
}

#nzclock {
    width: 226px;
    height: auto;
    text-align: left;
    padding-inline: 0;
    border: 2px solid #508ddb;
    background-color: #00000022;
}

#intlclock {
    width: 226px;
    height: auto;
    text-align: left;
    padding-inline: 0;
    border: 2px solid #508ddb;
    background-color: #00000022;
}

nav ul {
    display: flex;
    background-color: #75b1ff;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}

nav ul li {
    background-color: #75b1ff;
    border-right: 2px solid #508ddb;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    padding: 12px 40px;
    display: block;
    text-shadow: 2px 2px 2px #000000;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #88bbfd;
    background-color: #4274b6;
    text-decoration: none;
}

#active {
    color:#88bbfdcb;
}

a {
    color: #508ddb;
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

summary {
    transition: 0.2s;
}

summary:hover {
    color: purple;
    text-decoration: underline;
}